 body {
        /*background-image: url("http://cdn.spacetelescope.org/archives/images/wallpaper2/heic1509a.jpg");*/
		background-size: cover;
 		-moz-background-size: cover;
  		-o-background-size: cover;
  		-webkit-background-size: cover;
}

.jumbotron h1 { 
color: rgb(255,255,255);
background-color: rgba(0,0,0,0); 

}

.jumbotron {
   
    background-image: url("https://c1.staticflickr.com/1/219/517017403_b3f5cf3028_z.jpg?zz=1");
	background-size: cover;
	border: 5px solid black;
	
}

html {
	font-family: Helvetica; 
}


input { 
	/*background-color: red;*/
}

table {
	background-color: gray ;
	border-color: black;

}

th:nth-child(2) {
	background-color: rgba(247,12,12,0.8);
	text-align: center;
}

th:nth-child(3) {
	background-color: rgba(33,74,230,0.8);
	text-align: center;
}